body {
  background-color: pink;
  text-align: center;
}
img {
  border-radius: 50%;
}
.menu {
    list-style: none;
    font-family: 'Hanalei Fill', cursive;
}
#img {
    width: 400px;
    height: 400px;
}